$bg-body: #56CFFD;
$bg-header: white;
$bg-dropdown: white;
$bg-dropdown-hov: darkgrey;
$purple: #9b75ff;

$blue: #70d6ff;
$pink: #ff70a6;
$orange: #ff9770;
$yellow: #ffd670;
$lightyellow: #e9ff70;


$fc-header: black;
$fc-dropdown-hov: $bg-dropdown